{
  "gui" : {
	"windowtitle": {
		"icon": {
			"file": "/interface/title/plantfemaleicon.png",
			"position": [0,
			10],
			"type": "image",
			"zlevel": -1
		},
		"position": [-5,
		200],
		"subtitle": "Place the signs automatically",
		"title": "Image Placer",
		"type": "title"
	},
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/scripted/signplacer/header.png",
      "fileBody" : "/interface/scripted/signplacer/body.png",
      "fileFooter" : "/interface/scripted/signplacer/footer.png"
    },
	"txbName": {
		"type": "textbox",
		"position": [50, 120],
		"hint": "Type the name of the folder here...",
		"focus": true,
		"enterKey": "accept",
		"maxWidth": 150
	},
	"lblAutoDim": {
		"type": "label",
		"value": "Determine the dimensions automatically:",
		"position": [30, 80]
	},
	"cbAutoDim": {
		"type": "button",
		"position": [200, 80],
		"checkable": true,
		"checked": true,
		"base": "/interface/crafting/checkboxnocheck.png",
		"hover": "/interface/crafting/checkboxnocheck.png",
		"baseImageChecked": "/interface/crafting/checkboxcheck.png",
		"hoverImageChecked": "/interface/crafting/checkboxcheck.png",
		"callback": "autoDimension"
	},
	"lblX": {
		"type": "label",
		"position": [30, 60],
		"value": "Number of horizontal signs:",
		"visible": false
	},
	"txbX": {
		"type": "textbox",
		"hint": "...",
		"position": [150, 60],
		"regex": "^(\\s*|\\d+)$",
		"visible": false
	},
	"lblY": {
		"type": "label",
		"position": [30, 40],
		"value": "Number of vertical signs:",
		"visible": false
	},
	"txbY": {
		"type": "textbox",
		"hint": "...",
		"position": [150, 40],
		"regex": "^(\\s*|\\d+)$",
		"visible": false
	},
	"lblWarning": {
		"type": "label",
		"position": [135, 150],
		"hAnchor": "mid"
	},
	"btnAccept": {
		"type": "button",
		"position": [200, 40],
		"callback": "accept",
		"caption": "Accept",
		"base": "/interface/button.png",
		"hover": "/interface/buttonhover.png"		
	},
  "close" : {
    "zlevel" : 3,
    "type" : "button",
    "base" : "/interface/x.png",
    "hover" : "/interface/xhover.png",
    "pressed" : "/interface/xpress.png",
    "pressedOffset" : [0, 0],
    "callback" : "close",
    "position" : [250, 205]
  }
  },
  "scriptWidgetCallbacks": ["txbName", "autoDimension", "txbX", "txbY", "accept"],
  "scripts": ["/interface/scripted/signplacer/signplacer.lua"]
}
